.input {
    background-color: black;
    height: 80px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: white;
  }