.app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.wrapper {
  background: rgb(110, 200, 216);
  width: 390px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.frame {
  width: 350px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input {
  background-color: black;
  height: 80px;
  width: 350px;
  border-radius: 10px;
}
.button-frame {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}